
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.main{
    background-color: rgb(62, 132, 194);
    padding-bottom: 100px;
    padding-top: 20px;

}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.mainContainer>p{
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.container{
    margin-top: 1rem;
    background-color: rgb(255, 255, 255);
    width: 50%;
    padding: 1rem;
}

.optionContainer{
    margin-top: 1rem;
}

.li{
    padding: .6rem 1rem;
    background-color: rgb(230, 230, 230);
    margin: 4px;
    border-radius: 3px;
    user-select: none;

}
.select{
    background-color: #5375e4;
    color: aliceblue;

}


.li:hover{
    background-color:  #5375e4;
    color: aliceblue;
}

.li:active{
    background-color: rgb(159, 185, 235);
}
.button{
    background-color: rgb(105, 216, 105);
    padding: .5rem;
    border-radius: 7px;
    user-select: none;
    margin: 1rem auto;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    transition: all .1s;
}

.button:hover{
    color: rgb(255, 255, 255);
    /* box-shadow: #5375e4 1px 1px .15px; */
}
.button:active{
    transform: scale(.9);

}

p{
    font-weight: bold;
}

@media only screen and (max-width: 700px) {
    .container{
        width: 90%;
    }
  }

.hide {
    display:none;
}
.disable{
    pointer-events: none;
}
.show{
    display: block;
}